@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


@font-face {
  font-family: 'Pastel Crayon';
  src: url('/js/pastel.ttf') format('truetype'); /* Replace 'path/to/pastel-crayon.ttf' with the actual path to the font file */
  /* You may also include additional src declarations for other font formats like woff, woff2, etc. */
}

body {
	text-align: center;
	font-family: Arial, sans-serif;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	position: relative;
	height: 100vh;
	background-color: #ffffff;
	background-image: url('/images/paper.png');
	background-size: cover;
	overflow: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27vh;
}

.flip-card {
  background-color: transparent;
  width: 516.6px; /* Adjust width as needed */
  height: 310.2px;
  perspective: 1000px;
  z-index: 2;
}
.slide-in-left {
	 animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  z-index: 2;
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
}

.flip-card-front {
  background-color: transparent;
  background-image: url('/images/indexcard.png');
  background-size: cover;
  color: black;
  z-index: 2;
}

.flip-card-back {
  background-color: transparent;
  background-image: url('/images/indexcard2.png');
  background-size: cover;
  color: white;
  transform: rotateY(-180deg);
  z-index: 2;
}

.tab-container {
  display: flex;
  justify-content: center;
  position: relative; /* Change from absolute to relative */
  margin-top: 66px; /* Adjust margin-top as needed */
  margin-left: -8px;
}

.tab-button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border: none;
  margin: 0 3px; /* Add some space between buttons */
}

.active-tab-button {
	background-color: #555;
	color: white;
}


.tab-content {
	display: none;
}

img {
	max-width: 400px;
	z-index: 2;
    margin-top: -50px;
}

h2 {
	color: #6495ED;
	margin-top: 13px;
    font-family: 'Pastel Crayon', sans-serif; 
}

.crush-title {
	color: #6495ED;
	margin-top: 14px;
	margin-bottom: 9px
    font-family: 'Pastel Crayon', sans-serif;
}

input {
	width: 300px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 20px;
	outline: none;
    background-color: transparent;
    font-family: 'Pastel Crayon', sans-serif; 
}

.crush-input {
	width: 180px;
	padding: 10px;
	margin-top: 1px;
	margin-bottom: 1px;
	border: 1px solid #ccc;
	border-radius: 20px;
	outline: none;
    background-color: transparent;
}

input::placeholder {
	color: #aaa;
}

.next-button {
	background-color: #87CEFA;
	color: white;
	padding: 15px 30px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	position: absolute;
	margin-top: 70px;
	margin-bottom: 10px;
	margin-left: -50px;
}



.next-button:hover {
	background-color: #6bb9f0;
}

.signup-button {
  background-color: #16e569;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  margin-top: 100px;
  margin-bottom: 10px;
  margin-left: -65px;
}

.signup-button.disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.signup-button.disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.signup-button:hover:not(.disabled) {
  background-color: #26f277;
}

.logbutton {
  padding: -120px 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  width: calc(0.55 * 214px); /* Width of the image */
  height: calc(0.55 * 88px); /* Height of the image */
  border: none;
  border-radius: 5px;
  position: absolute;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background-image: url('/images/link.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#google-login-button {
  background-color: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: absolute;
  margin-top: 36px;
  margin-bottom: 0px;
  
}

#google-login-button:hover {
  transform: translate(-50%, -5%);
}
