@font-face {
  font-family: 'Pastel Crayon';
  src: url('/js/pastel.ttf') format('truetype'); 
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  background-color: #ffffff;
  background-image: url("/images/paper.png");
  background-size: cover;
  background-repeat: no-repeat;
}

img {
    justify-content: center;
    text-align: center;
	max-width: 400px;
	z-index: 2;
    margin-top: 30px;
    margin-left: -10px;
}

h2 {
	color: #6495ED;
    margin-bottom: 6px;
    font-family: 'Pastel Crayon', sans-serif; 
  font-size: 28px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(0%, 0%);
  z-index: 1;
}

.flip-card {
  background-color: transparent;
  width: 816.6px; /* Adjust width as needed */
  height: 380.2px;
  perspective: 1000px;
  z-index: 1;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  z-index: 2;
}


.flip-card-front, .flip-card-back {
  position: relative;
  width: 480px;
  height: 330px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flip-card-front {
/*
  background-color: transparent;
  background-image: url('/images/indexcard.png');
  background-size: contain;
*/
  color: black;
  z-index: 2;
  background-repeat: no-repeat;
}

.flip-card-back {
/*
  background-color: transparent;
  background-image: url('/images/indexcard2.png');
  background-size: contain;
*/
  color: white;
  transform: rotateY(-180deg);
  background-repeat: no-repeat;
  z-index: 2;
}

.tab-container {
  display: flex;
  position: relative; /* Change from absolute to relative */
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);
  z-index: 1;
  justify-content: center;
}

.tab-button {
  position: relative; /* Ensure the button is positioned relatively */
  width: 0px 200px;
  margin: 0 15px;
}

.tab-button img {
  position: absolute; /* Position the image absolutely within the button */
  top: 50%; /* Align the image vertically at the center of the button */
  left: 50%; /* Align the image horizontally at the center of the button */
  transform: translate(-21%, -114%); /* Adjust the image to be centered within the button */
}


.active-tab-button {
	background-color: #555;
	color: white;
}


.tab-content {
  display: none;
  margin-top: 95px;
  
}



.crush-title {
	color: #6495ED;
    font-family: 'Pastel Crayon', sans-serif;
  	margin-top: 46px;
    margin-bottom: 8px;
    top: 0%; /* Align the image vertically at the center of the button */
    left: 0%; /* Align the image horizontally at the center of the button */
    transform: translate(51.9%, -1770%);
}

h3 {
  color: #C4A484;
  margin-top: 0.5px;
  margin-bottom: 2.5px;
  font-family: 'Pastel Crayon', sans-serif; 
  position: relative;
  transform: translate(0%, 283%);
}

input {
	width: 250px;
	padding: 10px;
	margin-top: 6px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 6px;
	outline: none;
    font-family: 'Pastel Crayon', sans-serif; 
    border: 0px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: transparent;
    background-image: url('/images/boxbig.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(0.78 * 323px); /* Width of the image */
    height: calc(0.78 * 55px); /* Height of the image */
    color: #6C8EBF; /* Pastel pink text color */
    font-size: 16px;
  }



.search-bar-container {
  z-index: 3;
}

.search-bar {
  font-family: 'Pastel Crayon', sans-serif;
  flex: 1;
  padding: 10px;
  font-size: 17px;
  border: 0px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: #6C8EBF; /* Pastel pink text color */
}

.schools-dropdown {
  font-family: 'Pastel Crayon', sans-serif;
  position: absolute;
  top: 25.5%;
  left: 114px;
  width: 52%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
  z-index: 3;
  background-color: #feff9c;
}

.school-option {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.crush-input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 1px;
    border-radius: 6px;
    outline: none;
    background-color: transparent;
    background-image: url('/images/box.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(0.78 * 323px); /* Width of the image */
    height: calc(0.78 * 55px); /* Height of the image */
    color: #6C8EBF; /* Pastel pink text color */
    font-size: 16px;
    transform: translate(114%, -1172%);  
}

.crushemail-input {
    width: 150px; /* Adjust width to accommodate margin */
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 6px;
    background-color: transparent;
    background-image: url('/images/boxbig.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(0.69 * 323px); /* Width of the image */
    height: calc(0.69 * 55px); /* Height of the image */
    color: #6C8EBF; /* Pastel pink text color */
    font-size: 16px;
    position: relative;
    transform: translate(97%, -1324%);  
}


input::placeholder {
	color: #aaa;
}

.signup-button {
  background-color: transparent;
  color: transparent;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translate(-48.15%, 50%);
  width: 135px; /* Set the width to auto to fit the content */
  height: 55.854px;
  border-radius: 7px;
  background-repeat: no-repeat; 
  background-size: contain;
  
}


.signup-button img {
  position: relative; /* Position the image absolutely */
  top: -45px; /* Position the image at the top of the button */
  left: -20px; /* Position the image at the left of the button */
  width: 149.605px;
  height: 60.854px;
  opacity: 1; /* Optionally, set the opacity of the image */
  pointer-events: none; /* Ensure the image doesn't interfere with button clicks */
}

.signup-button.disabled {
  background-color: transparent;
  color: transparent;
  cursor: not-allowed;
  background-repeat: no-repeat; 
  background-size: contain;
}

.signup-button:hover:not(.disabled) {
  transform: translate(-48.15%, 45%);
}

.logbutton {
  padding: -120px 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  width: calc(0.55 * 214px); /* Width of the image */
  height: calc(0.5 * 88px); /* Height of the image */
  border: none;
  border-radius: 5px;
  position: absolute;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background-image: url('/images/link.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#google-login-button {
  background-color: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: absolute;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  
}

#google-login-button:hover {
  transform: translate(-50%, -5%);
}

.signed-in-message {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
  font-family: 'Pastel Crayon', sans-serif; 
  position: absolute;
  margin-top: 36.8px;
  left: 50%;
  transform: translateX(-52%);
}


.next-button {
  background-color: transparent;
  color: transparent;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translate(-48.15%, 51%);
  width: 121px; /* Set the width to auto to fit the content */
  height: 55.854px;
  border-radius: 7px;
  background-repeat: no-repeat; 
  background-size: contain;
  background-image: url('/images/next.png');
  background-size: contain;
  background-repeat: no-repeat;
}


.next-button img {
  position: relative; /* Position the image absolutely */
  width: 149.605px;
  height: 60.854px;
  opacity: 1; /* Optionally, set the opacity of the image */
  pointer-events: none; /* Ensure the image doesn't interfere with button clicks */
}

.next-button:hover {
  transform: translate(-48.15%, 45%);
}

