{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  background-color: #ffffff;
}

#logo {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
	margin-bottom: 20px;
}

.search-bar-container {
  position: absolute;
  top: 67.5%;
  left: 50%;
  transform: translate(-50%, -120%);
  width: 80%;
  max-width: 200px;
  display: flex;
  align-items: center;
  z-index: 3;
}

.search-bar {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.schools-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
  z-index: 1;
}

.school-option {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.logbutton, .signbutton {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  position: absolute;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

#signup-btn {
  top: 68.2%;
  background-color: #16e569;
  color: #fff;
}

#login-btn {
  top: 78%;
  background-color: #87CEFA;
  color: #fff;
}

.button:hover {
  background-color: #6495ED;
}